*.zip
*.pth
*.jpg
*.png
*.out
*.log
*.pkl
*.tar
*.mat
*.tar.gz
results/
raw_data/LFW
finals/face_align/shape_predictor_68_face_landmarks.dat
__pycache__/
data/
keypoints/outs
*.tar
*.tar.gz
cos_stat/
third_party/